name: Update ai.robots.txt

on:
    schedule:
        - cron: "0 0 * * 1"
    workflow_dispatch:

permissions:
    contents: write
    pull-requests: write

jobs:
    update:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [25.x]

        steps:
            - uses: actions/checkout@v6
              with:
                  ref: main
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node-version }}
            - run: npm ci
            - run: npm run update
            - name: Get current date
              id: date
              run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
            - uses: peter-evans/create-pull-request@v8
              with:
                  commit-message: "feat: update ai.robots.txt (${{ steps.date.outputs.date }})"
                  delete-branch: true
                  title: "feat: update ai.robots.txt (${{ steps.date.outputs.date }})"
                  base: main
                  body: |
                      This PR was automatically generated to update `ai.robots.txt`.
                  branch: update-ai-robots-txt
                  reviewers: ${{ github.repository_owner }}
